body {
    background-color: #b0e0e6;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #111;
    height: 100%;
    left: 0;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 10rem;
}

nav a {
    color: #818181;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 10rem;
}

/* Pie chart inspired by: https://bennettfeely.com/csspiechart/ */

.pie-chart {
    background: radial-gradient(circle closest-side, transparent 66%, #b0e0e6 0), conic-gradient(#4e79a7 0, #4e79a7 38%, #f28e2c 0, #f28e2c 61%, #e15759 0, #e15759 77%, #76b7b2 0, #76b7b2 87%, #59a14f 0, #59a14f 93%, #edc949 0, #edc949 100%);
    display: flex;
    margin: 0;
    min-height: 15rem;
    outline: 0.1rem solid black;
}

.pie-chart cite {
    align-self: flex-end;
    flex: 1;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.pie-chart figcaption {
    align-self: flex-end;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: right;
}

.pie-chart span:after {
    background: currentColor;
    border-radius: 0.2rem;
    content: "";
    display: inline-block;
    height: 0.8rem;
    margin-left: 0.4rem;
    width: 0.8rem;
}

@media only screen and (max-width: 600px) {
    nav {
        height: 7rem;
        width: 100%;
    }
    .main {
        margin-left: 0;
        margin-top: 10rem;
    }
    h1::before {
        content: " ";
        display: block;
        height: 10rem;
        margin-top: -10rem;
        pointer-events: none;
        visibility: hidden;
    }
    .pie-chart figcaption {
        font-size: 0.5rem;
    }
}