body {
    background-color: #b0e0e6;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #111;
    height: 100%;
    left: 0;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 10rem;
}

nav a {
    color: #818181;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 10rem;
}

figcaption span:after {
    background: currentColor;
    border-radius: 0.2rem;
    content: "";
    display: inline-block;
    height: 0.8rem;
    margin-left: 0.4rem;
    width: 0.8rem;
}

@media only screen and (max-width: 600px) {
    nav {
        height: 7rem;
        width: 100%;
    }
    .main {
        margin-left: 0;
        margin-top: 10rem;
    }
    h1::before {
        content: " ";
        display: block;
        height: 10rem;
        margin-top: -10rem;
        pointer-events: none;
        visibility: hidden;
    }
    .pie-chart figcaption {
        font-size: 0.5rem;
    }
}